body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(155, 226, 203);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px ;
    margin-top: 20px;
    color: white;
}
main{
    margin: 20px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    justify-items: center;
}
.product{
    background-color: white;
    border: 1px solid rgb(255, 255, 255) ;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 1);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 300px;
}
.product img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.product h2{
    font-size: 1.2em;
    margin: 10px 0;

}
.product p{
    font-size: 1em;
    margin: 10px 0;
    color: #5a5e5d;
}
button{
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover{
    background-color: #5a5e5d;
}
#cart{
    margin: 10px;
    font-size: 1.1em;
}
